<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="{{ site.url }}/assets/js/scripts.min.js"></script>

{% if page.comments != false %}{% include disqus_comments.html %}{% endif %}

<script>
  $(document).ready(function() {
    $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
            $('#back-top').addClass('show-totop');
        } else {
            $('#back-top').removeClass('show-totop');
        }
    });
    $('#back-top').find('a').click(function () {
        $('body,html').stop(false, false).animate({scrollTop: 0}, 150);
        return false;
    });
  });
</script>

{% if page.share != false %}
<script src="{{ site.url }}/assets/js/vendor/jquery.share.min.js"></script>
<script>
    $(document).ready(function() {
      $( '#share' ).share({sites: ["wechat"]});
    })
</script>
{% endif %}