<div class="social-share share" id="share">
  <ul class="socialcount socialcount-small inline-list">
    <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook"><span class="count"><i class="fa fa-facebook-square"></i> Like</span></a></li>
    <li class="twitter"><a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}" title="Share on Twitter"><span class="count"><i class="fa fa-twitter-square"></i> Tweet</span></a></li>
    <li class="wechat"><a class="social-share-icon icon-wechat" href="javascript:;" title="Share on Wechat"><span class="count"><i class="fa fa-weixin"></i> Chat</span></a></li>
    <li class="wechat"><a class="social-share-icon icon-qq" href="http://connect.qq.com/widget/shareqq/index.html?url={{ site.url }}&title={{ page.url }}" title="Share on QQ"><span class="count"><i class="fa fa-qq"></i> QQ</span></a></li>
  </ul>
</div>
<!-- <div id="share" class="share"></div> -->